body{
    //background: #f2f2f2;
    p.indianred{
        //color: indianred;
        text-decoration: line-through;
        text-align: center;
    }
    .deleted{
        text-decoration: line-through;
    }
}